.logo-gia-triV3{
        margin-top: 120px;
        width: var( --default-layout-width-height);
        height: auto;
}
//logo chung nhan
.logo-chung-nhan{
    width: var( --default-layout-width-height);
    height: auto;
}

// start logo-nguyen-lieu-dang-cap

//video gia tri
.video-gia-tri{
    margin-bottom: -37px;    
    width: var(--default-layout-width-height);
    height: auto;
}