.img-tam-nhin-su-menh-V2{
    img{
        margin-top: 120px;
        width: var( --default-layout-width-height);
        height: auto;
    }
}
// content-tam-nhin

.content-tam-nhin{
    p{
        padding: 20px 539px;
    }
}
// end content-tam-nhin

//contgent su menh
.content-su-menh{
    p{
        padding: 20px 539px;
    }
}
//img-tam-nhin-su-menh-V3
.img-tam-nhin-su-menh-V3{
    img{
        width: var( --default-layout-width-height);
        height: auto;
    }
}
//logov2
.logoV2{
    img{
        margin-left: 95px;
        height: auto;
        width: 730px;
    }
}
//content logo
.content-logo{
    h2{
        margin-top: 170px;
    }
}
.content-bieu-tuong {
   // margin-left: 1px;
    h2{
        margin-top: 111px;
    }
}
//bieu tuong
.logo-bieu-tuong {
    img{   
        margin-left: -50px;
        height: auto;
        max-width: 730px;
    }
}
// mau sac
.mau-sac{
    img{
        margin-left: 95px;
        height: auto;
        width: 730px;
    }
}
.content-mau-sac{
    h2{
        margin-top: 80px;
    }
}
//end mau sac\
//trach nhiem 
.logo-trach-nhiem{
    width: 80px;
    height: auto;
}